* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
}
#chat{
    height:100%;
    width:100%;
}
#application{
    border:2px solid black;
    height:70%;
    width:80%;
    display:flex;
    flex-direction: column;
}
#send-menu{
    width:100%;
    height:20%;
    border:2px solid black;
}
.displayed-message{
    padding:15px;
    margin:15px;
    border-radius:20px;
    background-color:gray;
    font-weight:bold;
    color:white;
    display:inline-block;
}
.message-holder{
    width:100%;
}
#user-id{
    width:100%;
    height:10%;
    background-color:gray;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    text-align:center;
}
#loginForm{
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    height:10%;
    width:100%;
}
.showName{
    font-weight:bold;
    padding-left:3ch;
    position:relative;
    top:10px;
}




